name: Docker build apache nas image

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    paths:
      - '.github/workflows/docker-build-apache-nas.yml'
      - 'apache-nas/**'

env:
  # docker image version
  VERSION: "1.0.0"

jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v6

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Set up build timestamp
        run: echo "timestamp=$(date +%Y%m%d)" >> $GITHUB_ENV

      - name: Build and push docker image
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: ./apache-nas
          file: ./apache-nas/Dockerfile
          platforms: linux/amd64
          push: true
          tags: ghcr.io/camptocamp/georchestra-docker-images/apache-nas:latest, ghcr.io/camptocamp/georchestra-docker-images/apache-nas:${{ env.timestamp }}, ghcr.io/camptocamp/georchestra-docker-images/apache-nas:${{ env.timestamp }}-${{ github.sha }}
